version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Run Tests
          command: npx hardhat test --network devnet

workflows:
  version: 2
  build-deploy:
    jobs:
      - build